@import '../../Assets/scss/custom.scss';

.banner-wrapper{
    // height: 100%;
    // .logo{
    //     position:absolute;
    //     left: 84px;
    //     top: 82px;
    //     img{
    //         width: 58px;
    //         height: 58px;
    //     }
    // }
    .banner-bg{
        height: 100vh;
        background:linear-gradient(90deg, rgba(56,54,54,0.8) 0%, rgba(56,54,54,0.8) 35%, rgba(56,54,54,0.8) 67%), url(../../Assets/images/img01.jpg);
        // background-color: $darkBluePallete;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @media screen and(max-device-width: 480px) {
            // background: none;;
        }
        .banner-text{
            display: flex;
            flex-direction: column;
            // height: 100%;
            // width: 100%;
            position: absolute;
            top: 36%;
            text-align: left;
            .text-title{
                font-size:62px;
                color: $whitePallete;
                font-weight: bold;
                font-family: $titleFont;
            }
            .text-desc{
                font-size: 23px;
                width: 534px;
                font-weight: normal;
                color: $whitePallete;
            }
            .banner-btn{
                padding: 8px;
                padding-top: 26px;
                button{
                    padding: 10px 10px 10px 10px;
                    background-color: rgba(109, 109, 110, 0.7);
                    background-repeat:no-repeat;
                    border-radius: 6px;
                    // border: 2px solid $whitePallete;
                    cursor:pointer;
                    overflow: hidden;
                    outline:none; // ini
                    color: $whitePallete;
                    font-weight: bold;
                    font-size: 20px;
                    width: 166px;
                }
                button:hover{
                    background-color: $whitePallete;
                    color: $darkBluePallete;
                    font-size: 20px;
                    font-weight: bold;

                }
            }
        }   
    }
}